@{
    ViewData["Title"] = "Send Request";
}
<h1>@ViewData["Title"]</h1>

<p>You can send request to other server</p>

<form asp-action="SendRequest" asp-controller="Home" method="post">
    <p>Enter numbers:</p>
    <input type="number" name="num1" />
    <input type="number" name="num2" />
    <input type="submit" value="Start" />
</form>

<p>Result: @ViewBag.Result</p>

<ul id="messageList">
</ul>