@{
    ViewData["Title"] = "Send Request";
}
<h1>@ViewData["Title"]</h1>

<p>You can send request to other server</p>

<form asp-action="SendRequest" asp-controller="Home" method="post">
    <p>Enter numbers:</p>
    Number1 <input type="number"  name="num1" /> <br/>
    Number2 <input type="number" name="num2" /> <br/>
    <input type="submit" value="Send" />
</form>

<form action="@Url.Action("Cancel", "Home")"><button>Cancel</button></form>

<p>Result: @ViewBag.Result</p>


